
<section id="classes" class="section">
  <h2 class="section-title">Nossas Aulas</h2>

  <div class="cards">
    <div class="card" *ngFor="let aula of aulas">
      <h3>{{ aula.name }}</h3>
      <p>{{ aula.description }}</p>
    </div>
  </div>
</section>

<section class="gallery-section">
  <h2 class="gallery-title">Nossos Momentos</h2>
  <swiper-container
    slides-per-view="auto"
    space-between="20"
    loop="true"
    autoplay-delay="2500"
    autoplay-disable-on-interaction="false"
  >
    <swiper-slide *ngFor="let img of galleryImages">
      <img [src]="img" />
    </swiper-slide>
  </swiper-container>
</section>

<section id="about" class="section about">
  <div class="about-text">
    <h2>Sobre a Academia</h2>
    <p>
      Somos uma academia de dança dedicada ao desenvolvimento artístico,
      bem-estar e inclusão. Aqui, cada aluno evolui no seu próprio ritmo.
    </p>
    <p>
      Professores qualificados, ambiente acolhedor e paixão pela dança.
    </p>
  </div>
  <img src="assets/img/morcego.jpg" alt="Dança">
</section>

<section id="schedule" class="section dark">
  <h2 class="section-title">Horários</h2>

  <table class="schedule">
    <tr>
      <th>Dia</th>
      <th>Modalidade</th>
      <th>Horário</th>
    </tr>
    <tr>
      <td>Segunda</td>
      <td>Jazz, Hip Hop Iniciante II  & Coregrafia</td>
      <td> 18h - 19h | 19h30 - 20h30 | 20h30 - 21h30 </td>
    </tr>
      <tr>
      <td>Terça</td>
      <td>Alongamento, Jazz & Contemporãneo</td>
      <td>18h - 19h | 19h30 - 20h30 | 20h30 - 21h30 </td>
    </tr>
    <tr>
      <td>Quinta</td>
      <td>K-Pop, Afro, Dancehall & Coreografia</td>
      <td>17h30 - 18h30 | 18h30 - 19h30 | 19h30 - 20h30 | 20h30 - 21h30</td>
    </tr>
    <tr>
      <td>Sexta</td>
      <td>Jersey, Jazz Funk, Hells, MasterClass</td>
      <td>18h - 19h | 19h - 20h | 20h - 21h | 21h - 22h</td>
    </tr>
    <tr>
      <td>Sabado</td>
      <td>Jazz Funk, Hip Hop Iniciante I </td>
      <td>10h - 11h | 11h - 12h</td>
    </tr>
  </table>
</section>

<section id="contact" class="section contact">
  <h2 class="section-title">Entre em Contato</h2>

  <form class="contact-form">
    <input type="text" placeholder="Nome" required>
    <input type="email" placeholder="Email" required>
    <input type="tel" placeholder="Telefone">
    <textarea rows="4" placeholder="Mensagem"></textarea>
    <button class="btn-primary" type="submit">Enviar</button>
  </form>
</section>

<a
  class="btn-whatsapp"
  href="https://wa.me/5511999999999?text=Olá!%20Gostaria%20de%20agendar%20uma%20aula%20experimental."
  target="_blank"
>
  Falar no WhatsApp
</a>

<footer class="footer">
  <p>© 2026 Dace Academy · Todos os direitos reservados</p>
</footer>